.processCon {
  border-radius: 5px;
  border: 1px solid #b9b9b9;
  padding: 15px;
  width: 202px;

  .progressBar {
    margin-top: 10px;
    display: block;
    width: 172px;
    height: 10px;
    background-color: #26a9e0;
    border-radius: 15px;
  }

  span {
    font-weight: 700;
  }
}
