.visualCon {
  border-bottom: 1px solid #dcdcdc;
  height: 70vh;
}
.header_span {
  display: flex;
  justify-content: space-between;

  .btn {
    padding: 12px 24px;
    background-color: #26a9e0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s ease;
    cursor: pointer;

    &:hover {
      background-color: #1a90c2;
    }
  }
}

.text_span {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  p {
    span {
      font-weight: 600;
    }
  }
}

.outerProcessCon {
  overflow: hidden;
  height: calc(70vh - 110px);
  padding-bottom: 50px;
}
.processCon {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  overflow-y: auto;
  height: 100%;
}
